<!DOCTYPE html>
<head>
<html>
  <style>
    body {
      background-color: black;
    }
    img {
      display: none;
    }
    canvas {
      display: block;
      margin: 0px auto;
      background-color: white;
    }
  </style>
</head>
<body>
  <canvas id="myCanvas" width="800" height="600" style="border:1px solid #000000;"></canvas>

  <script src = "/static/js/Test.js" type ="module"></script>
  <img id= "img_fly" src="/static/assets/fly_image.jpeg">
  <img id= "img_leaf_right" src="/static/assets/leaf_2_right.jpg">
  <img id= "img_leaf_left" src="/static/assets/leaf_2_left.jpg">
  <img id= "img_fly_left" src="/static/assets/fly_image_left.jpeg">
  <img id= "img_fly_right" src="/static/assets/fly_image_right.jpeg">
  <img id= "img_bee_left" src="/static/assets/bee_left_2.jpg">
  <img id= "img_bee_right" src="/static/assets/bee_right_2.jpg">
  <img id= "img_cardinal" src="/static/assets/cardinal_image.jpg">
  <img id= "img_blue_jay" src="/static/assets/blue_jay_image.jpg">

</body>



</html>
